.app__about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 6rem;
  background-color: #000000bd;
}

.app__about-h2 {
  color: #d3a26b;
  font-family: var(--cormorant);
  text-transform: capitalize;
  font-size: 3.2rem;
}

.app__about-p {
  color: #fff;
  font-family: var(--open-sans);
  font-size: 1.2rem;
  max-width: 80%;
}

.app__about-container {
  max-width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1250px) {
  .app__about-h2 {
    font-size: 1.8rem;
  }
  .app__about-p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 890px) {
  .app__about-img {
    display: flex;
    height: 30%;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
  }
  .app__about-img img {
    height: 500px;
  }
  .app__about {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 0;
    padding: 2rem 2rem;
  }
  .app__about-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
