.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.title h2 {
  color: #d3a26b;
  font-family: var(--cormorant);
  font-size: 4.5rem;
}

.title p {
  color: white;
  font-family: lux;
  font-size: 1.8rem;
  opacity: 0.8;
}

@media screen and (max-width: 1250px) {
  .title h2 {
    font-size: 3rem;
  }

  .title p {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 450px) {
  .title h2 {
    font-size: 2rem;
  }

  .title p {
    font-size: 1rem;
  }
}
